.box1{
    background-color: #fffee4;
    height: 120px;
}

.icones-redes-sociais{
    font-size: 60px !important;
    color:#ff9036;
}

.box2{
    background-color: #ff5475;
    height: 60px;
}

.textos{
    color: #ff9036;
}

.textos-finais{
    color: #fdeba9;
}